.add-button,
.rename-button,
.delete-button,
.close-button,
.notes-button {
  stroke: var(--accent);
  background-color: var(--secondary);
  border-radius: 0.5rem;

  &:hover {
    border-color: var(--text);
    stroke: var(--text);
  }

  &:active {
    background-color: var(--primary);
  }
}

.add-button,
.rename-button,
.delete-button,
.notes-button {
  width: 2.3rem;
  border: 2px solid var(--accent);
  fill: transparent;
}

.close-button {
  fill: var(--accent);

  &:hover {
    fill: var(--text);
  }
}

.add-button:disabled {
  stroke: var(--primary);
  border-color: var(--primary);
  cursor: default;

  &:active {
    background-color: inherit;
  }
}

.notes-button {
  stroke: transparent;
  fill: var(--accent);

  &:hover {
    stroke: inherit;
    fill: var(--text);
  }

  &:active {
    background-color: var(--primary);
  }
}

