.modal-with-close-button {
  display: grid;
  padding: 0 0 1rem 1.5rem;
}

.close-dialog {
  width: 40px;
  justify-self: end;
}

.dialog-form {
  font-size: 1.3rem;
  margin: 0;
  padding-right: 1.5rem;
}

.dialog-form-list {
  margin: 0;
  display: grid;

  li {
    display: grid;
  }

  input[type="text"],
  input[type="date"],
  input[type="datetime-local"],
  textarea {
    border-radius: 1em;
    padding: 0.5rem;
    border: 1px solid var(--text);
  }

  input[type="text"] {
    font-size: 1.2rem;
    width: 100%;
  }
}

.submit {
  padding: 0.5em;
  border-radius: 1em;
  border: solid 2px var(--accent);
  width: 60%;
}

.form-el-long {
  grid-column: 1/-1;
}

.new-todo-form-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  & > li:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-top: 1rem;

    & button:first-of-type {
      justify-self: right;
    }
  }

  .li-notes {
    display: flex;
    flex-direction: column;
  }
}

.project-dialog {
  font-size: 1.5rem;
  width: 40ch;

  input[type="text"] {
    font-size: 1.5rem;
  }

  .dialog-form-list {
    gap: 0.5rem;

    & button {
      justify-self: center;
    }
  }
}

.notes-form {
  margin-right: 1.5rem;
  display: grid;
  gap: 0.5rem;

  & label {
    font-size: 1.5rem;
  }

  & .submit {
    font-size: 1.2rem;
    width: 40%;
    justify-self: center;
  }

  & textarea {
    resize: none;
    border-radius: 1rem;
    border: solid 2px var(--primary);
    }
}
