.todo-form {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.todo-form-items {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  li {
    display: grid;
  }

  input[type="text"] {
    font-size: 1.2rem;
    width: 100%
  }
}

.form-el-long {
  grid-column: 1/-1;
}
