.todo-form {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.todo-form-items {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;

  li {
    display: grid;
  }

  input[type="text"] {
    font-size: 1.2rem;
    width: 100%;
  }

  .form-el-long {
    grid-column: 1/-1;
  }

  input[type="radio"] {
    position: relative;

    &:before,
    &:after {
      display: inline-block;
      content: " ";
      border-radius: 100%;
    }

    &:before {
      width: 30px;
      height: 30px;
      background-color: var(--secondary);
      border: 2px solid var(--text);
    }

    &:after {
      position: absolute;
      left: 5;
      top: 5;
      width: 24px;
      height: 24px;
    }

    &:checked:after {
      background-color: var(--text);
    }
  }

  .radio-buttons > div {
    margin-block: 5px;
    display: flex;
    gap: 5px;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .li-notes {
    display: flex;
    flex-direction: column;
  }
}
