@use "./project-header.scss";
@use "./todo-item.scss";

.todo-list {
  margin-right: 1rem;
  width: min(95ch, calc(100% - 1rem));
  position: relative;
}

.no-todos {
  font-size: 2rem;
  color: var(--accent);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:not(:only-child) {
    display: none;
  }
}
