@use "./project-header.scss";
@use "./todo-item.scss";

.todo-list {
  margin-right: 1rem;
  width: min(95ch, calc(100% - 1rem));
}

.no-todos {
  height: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-items: center;
  justify-content: center;

  &:not(:only-child) {
    display: none;
  }
}
