.project {
  height: 3.8rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  padding-right: 0.75rem;
  margin: 0.7rem;
  font-size: 1.3rem;
  background-color: var(--primary);
  border: 1px solid var(--accent);
  border-radius: 0.5rem;
  transition: all 0.1s linear;

  .project-name {
    grid-column: 1/9;
    justify-self: start;
    width: 100%;
    text-align: left;
    padding-left: 0.75rem;
  }

  .delete-button,
  .rename-button {
    align-self: center;
  }

  .rename-button {
    grid-column: 9/10;
  }

  .delete-button {
    grid-column: 10/11;
  }

  &:hover {
    background-color: color-mix(in lch, var(--background) 40%, var(--primary));
  }
}
