@use "colors.scss" as *;
@use "elements.scss";
@use "buttons.scss";
@use "header.scss";
@use "nav.scss";
@use "main.scss";
@import url(https://fonts.bunny.net/css?family=nunito|pt-sans);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@each $name, $color in $colors {
  @if ($name != "text") {
    .bg-#{$name} {
      background-color: var(--#{$name});
    }
  }
  @if ($name != "background") {
    .color-#{$name} {
      background-color: var(--#{$name});
    }
  }
}

.font-head {
  font-family: "Nunito", sans-serif;
}

.font-body { font-family: "PT Sans", sans-serif;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.hidden {
  display: none;
}

.page-wrapper {
  --padding: 0.5rem;
  min-height: calc(100vh - var(--padding));
  min-height: calc(100dvh - var(--padding));
  display: grid;
  grid-template-rows: 1fr 1fr 14fr;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  padding-bottom: var(--padding);

  h2 {
    margin: 0;
  }
}

.project-list,
.todo-list {
  grid-row: 2/4;
  display: grid;
  grid-template-rows: subgrid;
  border-radius: 1rem;
}

/*
.todo-form {
  max-width: 70%;
  margin: auto;
  border: 2px solid black;
  margin-top: 2rem;
  border-radius: 2rem;

  ul {
    list-style: none;
  }

  fieldset {
    border: none;
  }

  label {
    display: inline-block;
    width: 150px;
  }

  input {
    appearance: none;
  }
}
*/
