@use "./checkbox.scss";

.todo-item {
  display: grid;
  grid-template-columns: repeat(29, 1fr) 1rem;
  gap: 0.5rem;
  font-size: 1.3rem;
  border-bottom: 2px solid var(--primary);
  padding: 0.3rem;

  .container {
    --width: 1.6rem;
    display: grid;
    grid-template-columns: subgrid;
    gap: calc(2rem - var(--width));
    grid-column: 1/3;

    .priority {
      width: var(--width);
      place-self: center;
    }
  }

  .todo-name {
    grid-column: 3/12;
    justify-self: start;
  }

  .add-button,
  .rename-button,
  .delete-button,
  .notes-button {
    border: none;
    width: 2rem;
  }

  .notes-button {
    grid-column: 26/27;
  }

  .add-button {
    grid-column: 27/28;
  }

  .rename-button {
    grid-column: 28/29;
  }

  .delete-button {
    grid-column: 29/30;
  }

  &:nth-child(2) {
    border-top: 2px solid var(--primary);
  }

  .due-date {
    font-size: 1rem;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 23/26;
    place-self: center;
    transition: .5s all linear;
  }

  .overdue-notice {
    color: color-mix(in lch, var(--accent) 30%, red);
    font-weight: 700;
  }
}

.checklist {
  grid-row: 2;
  grid-column: 3/-3;

  li {
    display: grid;
    grid-template-columns: 1.2rem 1fr 1.6rem 1.2rem;
    gap: 5px;
    align-items: center;
  }

  .rename-button {
    grid-column: auto;
    width: 1.6rem;
  }
}
